name: rspec with truffleruby
 
on:
  push:
    branches:    
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '46 4 * * *'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        rspecmode: [ latency, throughput ]
        appmode: [ latency, throughput ]
        languageagnosticinlining: [false, true]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build docker image
      run: docker build -f Dockerfile-truffleruby-head -t after-bundle-install:latest .
    - run: docker build -f Dockerfile-after-bundle-install -t after-assets-precompile:latest .
    - run: docker build -f Dockerfile-after-assets-precompile -t school-experience:latest .
    - name: spin up
      run : |
        cat > .env << EOL
        RUBYOPT_SCHOOL_EXPERIENCE=--experimental-options --engine.Mode=${{matrix.appmode}}
        RUBYOPT_DELAYED_JOBS=--experimental-options --engine.Mode=${{matrix.appmode}}
        RUBYOPT_DB_TASKS=--experimental-options --engine.Mode=${{matrix.appmode}}
        EOL
        docker-compose up -d
        WAIT_COUNT=0
        until docker-compose ps | grep -m 1 "db-tasks" | grep -m 1 "Exit 0" || [ $WAIT_COUNT -eq 48 ]; do echo "WAIT COUNT $(( WAIT_COUNT++ ))" && sleep 5 ; done
    - name: run specs
      continue-on-error: true
      run: |
        docker-compose run \
           -e RUBYOPT='--experimental-options --engine.Mode=${{matrix.rspecmode}} --engine.LanguageAgnosticInlining=${{matrix.languageagnosticinlining}}' \
           --no-deps \
           --rm db-tasks rspec  
