name: rspec with truffleruby
 
on:
  push:
    branches:    
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '46 4 * * *'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        rspecmode: [ --engine.Mode=latency, --engine.Mode=throughput, --engine.MultiTier ]
        appmode: [ --engine.Mode=latency, --engine.Mode=throughput,  --engine.MultiTier ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build docker image
      run: docker build -f Dockerfile-truffleruby-head -t after-bundle-install:latest .
    - run: docker build -f Dockerfile-after-bundle-install -t after-assets-precompile:latest .
    - run: docker build -f Dockerfile-after-assets-precompile -t school-experience:latest .
    - name: spin up
      run : |
        cat > .env << EOL
        RUBYOPT_SCHOOL_EXPERIENCE=--experimental-options ${{matrix.appmode}}
        RUBYOPT_DELAYED_JOBS=--experimental-options ${{matrix.appmode}}
        RUBYOPT_DB_TASKS=--experimental-options ${{matrix.appmode}}
        EOL
        docker-compose up -d
        WAIT_COUNT=0
        until docker-compose ps | grep -m 1 "db-tasks" | grep -m 1 "Exit 0" || [ $WAIT_COUNT -eq 48 ]; do echo "WAIT COUNT $(( WAIT_COUNT++ ))" && sleep 5 ; done
    - name: Checkout tools repo
      uses: actions/checkout@v2
      with:
        ref: graalvm
        repository: eregon/FlameGraph
        path: flame-graph
    - name: run a spec with profiling (flame graph)
      run: |
        docker-compose run \
              -e RUBYOPT='${{matrix.rspecmode}} --experimental-options --cpusampler --cpusampler.OutputFile=/ci_build/cpusampling.json --cpusampler.SampleInternal=true --cpusampler.Mode=roots --cpusampler.Output=json' \
              --no-deps \
              --rm db-tasks rspec spec/controllers/schools/placement_dates/subject_selections_controller_spec.rb
        flame-graph/stackcollapse-graalvm.rb cpusampling.json | flame-graph/flamegraph.pl > cpusampling.svg
    - uses: actions/upload-artifact@v1
      with:
        name: cpusampling-APP-${{matrix.appmode}}-RSPEC-${{matrix.rspecmode}}.svg
        path: ./cpusampling.svg
    - name: run a spec with profiling (histogram)	
      run: |	
        docker-compose run \
              -e RUBYOPT='${{matrix.rspecmode}} --experimental-options --cpusampler --cpusampler.OutputFile=/ci_build/cpusampling.txt --cpusampler.SampleInternal=true --cpusampler.Mode=roots --cpusampler.Output=histogram' \
              --no-deps \
              --rm db-tasks rspec spec/controllers/schools/placement_dates/subject_selections_controller_spec.rb	
    - uses: actions/upload-artifact@v1	
      with:	
        name: cpusampling-APP-${{matrix.appmode}}-RSPEC-${{matrix.rspecmode}}.txt	
        path: ./cpusampling.txt
    - name: run specs
      continue-on-error: true
      run: |
        docker-compose run \
           -e RUBYOPT='--experimental-options ${{matrix.rspecmode}}' \
           --no-deps \
           --rm db-tasks rspec  
